body {
    font-family: "Roboto", "Raleway" sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.logo {
    font-family: "Raleway-Bold" sans-serif;
    color: #2E2F42;
    font-size: 18px;
    letter-spacing: 3%;
    line-height: 1.3;
    text-transform: uppercase;
  }
.logo .logo-web {
    color: #404BBF;
}